body{
	background-color: black;
	color: white;
	font-family: 'Courier New', monospace;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FF74D4;
    min-width: 120px;
    padding: 8px 10px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
nav{
    font-size: 15px;
}
nav.ex1{
    margin-left:1080px;
    margin-top:-55px
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
  }
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  h1{
	font-family:'Courier New', monospace;
	margin-top: 50px;
	margin-left:30px
  }
  .p1{
	  margin-left: 40px;
	  margin-right: 50px;
  }
  .img1{
      margin-left:20px;
  }
  footer{
    font-size: 15px;
    font-family: 'Courier New', monospace;
    text-align: center;
    margin-top: 80px
}
.footer-copyright{
  font-size: 12px;
  margin-top: 20px;
}